beautifulsoup4==4.6.3
blessings==1.7
bpython==0.17.1
certifi==2018.8.13
chardet==3.0.4
click==6.7
curtsies==0.3.0
docopt==0.6.2
greenlet==0.4.14
idna==2.7
jedi==0.12.1
lxml==4.2.5
parso==0.3.1
peewee==3.6.4
Pillow==5.2.0
pip-autoremove==0.9.1
prompt-toolkit==1.0.15
Pygments==2.2.0
PySocks==1.6.8
pyTelegramBotAPI==3.6.5
requests==2.20.1
six==1.11.0
SkPy==0.9
typing==3.6.4
urllib3==1.23
wcwidth==0.1.7
